<div class="footer-page">
  <p class="footer-banner">Paradigm Equipment Finance</p>
  <hr>
  <div class="footer-columns">
    <div class="footer-location-column">
      <h1 style="font-weight: bold;font-size: 28px;">Location</h1>
      <h2 style="font-weight: bold;font-size: 16px;">Paradigm Equipment Finance</h2>
      <h3>
        124 South Fairfield Road<br>
        Layton, UT 84041<br>
        (801) 682-8648
      </h3>
      <div style="display: flex;">
        <img
          src="../../assets/images/AACFB.jpg"
          height="55"
          width="85"
          style="margin-right: 10px"
        >
        <img
          src="../../assets/images/National_Alliance.png"
          height="41"
          width="258"
          style="margin-top:7px;"
        >
      </div>
    </div>
    <div class="button-column">
      <button [routerLink]="['/apply']">Apply Now</button>
      <button [routerLink]="['/reviews']">See Our Reviews</button>
      <button [routerLink]="['/blog']">Paradigm News</button>
      <div class="social-buttons">
        <img
          src="../../assets/images/Google_Icon.png"
          height="40"
          width="40"
        >
        <img src="../../assets/images/facebook_icon.png"
          height="40"
          width="40"
        >
        <img src="../../assets/images/manta_icon.png"
          height="40"
          width="40"
        >
        <img src="../../assets/images/instagram_icon.png"
          height="40"
          width="40"
        >
      </div>
    </div>
    <div class="hours-column">
      <h1 style="font-weight: bold;font-size: 28px;text-align: center;letter-spacing: 1.5px;">Business Hours</h1>
      <div class="day-hours-container">
        <ul style="list-style-type: none;">
          <li style="padding-bottom:5px;">Monday</li>
          <li style="padding-bottom:5px;">Tuesday</li>
          <li style="padding-bottom:5px;">Wednesday</li>
          <li style="padding-bottom:5px;">Thursday</li>
          <li style="padding-bottom:5px;">Friday</li>
          <li style="padding-bottom:5px;">Saturday</li>
          <li>Sunday</li>
        </ul>
        <ul style="list-style-type: none;">
          <li style="padding-bottom:5px;">7 AM - 4 PM</li>
          <li style="padding-bottom:5px;">7 AM - 4 PM</li>
          <li style="padding-bottom:5px;">7 AM - 4 PM</li>
          <li style="padding-bottom:5px;">7 AM - 4 PM</li>
          <li style="padding-bottom:5px;">7 AM - 4 PM</li>
          <li style="padding-bottom:5px;">Closed</li>
          <li>Closed</li>
        </ul>
      </div>
    </div>
  </div>
</div>
