<div class="homepage">
  <div class="banner-section">
    <div class="banner-text">
      <h1 class="banner-title">Quality In Everything We Do</h1>
      <h2 class="banner-subtitle">Contact us today to learn about our financing options</h2>
      <button id="banner-button" [routerLink]="['/contact']">Contact Us</button>
    </div>
  </div>

</div>

<div>
  <div class="homepage-section-2" style="width: 100vw; height: auto; background-color: #beecb2;">
    <div class="homepage-section-2-words">
      <h1 style="font-size: 36px; font-weight: 700; padding-bottom: 25px; width: 60%; margin: auto; text-align: center;">Equipment Financing Company In Utah</h1>
        <p style="width: 70%; margin: auto; text-align: center; font-size: 18px;">Paradigm Equipment Finance has worked with brokers and small business owners since 2011,to provide reputable heavy equipment financing. We’re a direct lender, making it simple to apply for your loan and secure new equipment! Our clients trust us because of our straight forward terms and transparent approach to lending. Contact us today for more information about terms or to consult with us about applying for construction equipment financing.</p>
      </div>
  </div>

  <div class="homepage-section-3">
    <div style="display: flex; width: 100%; justify-content: space-around;">
      <div style="width: 55%; margin-top: 45px; padding-bottom: 25px; padding-right: 15px;">
        <h1 style="font-size: 25px; font-weight: 700; color: #0c3c60; padding-bottom: 25px;">Utah's Preferred Equipment Financing Company</h1>
        <p style="font-size: 16px;">For many businesses, heavy equipment is the single most important asset for business success. But to acquire it, you need to work with an equipment financing company that’s not going to smother your balance sheet with unfavorable terms, hidden fees and bureaucratic red tape. It’s why more companies in Utah and across the country are turning to Paradigm Equipment Finance for private lending for construction equipment.<br><br>
        As direct funding source, we specialize in equipment-based leasing to businesses who struggle with traditional financing. Our borrowers are generally viewed as subprime credits by traditional lending institutions, despite their ability to demonstrate consistent cash flow, a reliable balance sheet and a strong borrowing history. We provide these borrowers the access to capital they need, so they don’t have to worry about construction equipment financing that might cripple their business through a traditional lender. Our upfront guidelines and terms, along with our established presence in the industry, allows us to lend confidently to borrowers who may fall outside conventional lending parameters.</p>
      </div>
      <img src="../../assets/images/homepage-section2-1.png" alt="truck"
        style="width: 40%; height: auto; margin-top: 35px; margin-bottom: 15px;"/>
    </div>
  </div>

  <div class="homepage-section-3">
    <div style="display: flex; width: 100%; justify-content: space-around;">
      <img src="../../assets/images/homepage-section2-2.png" alt="truck"
        style="width: 50%; height: auto; margin-top: 15px; margin-bottom: 15px;"/>
      <div style="width: 45%; margin-top: 45px; padding-bottom: 45px; padding-left: 15px;">
        <h1 style="font-size: 25px; font-weight: 700; color: #0c3c60; padding-bottom: 25px;">Utah's Preferred Equipment Financing Company</h1>
        <p style="font-size: 16px;">As an asset-based lessor, we focus on securing yellow metal industrial equipment, manufacturing equipment and over-the-road assets,such as titled trucks and trailers. We belong to the Amercian Association of Commercial Finance Brokers.Through this affiliation,we have access to over 500 national equipment brokers nationwide. We find deals through these brokers using our team of inside sales representatives and relationship managers,as well as through direct sources such as equipment vendors.<br><br>
          Our lease approval process is based primarily on our client’s ability to service their current and proposed debt,while providing security through proper collateralization rather—than making decisions purely based on credit-worthiness or cash-flow. Let us help your growing business secure the assets it needs. Contact us today to speak with our lending consultants.</p>
      </div>
    </div>
  </div>

  <div class="homepage-section-4">
    <div style="height: 100%; width: 100%; padding-top: 12%; backdrop-filter: brightness(40%);">
      <div class="section-4-row-1" style="display: flex; width: 90%; margin: auto auto; text-align: center; justify-content: space-between; padding-bottom: 30px;">
        <div style="height: 112px; width: 31%; background-color: #0c3c60; padding: 25px 20px;">
          We promise complete transparency, with no hidden fees or predatory terms</div>
        <div style="height: 112px; width: 31%; background-color: #0c3c60; padding: 25px 20px;">
          As a smaller lender, we're able to deliver a more individualized experience for clients</div>
        <div style="height: 112px; width: 31%; background-color: #0c3c60; padding: 25px 20px;">
          We understand the importance of quick decision-making and financing, and act fast</div>
      </div>
      <div class="section-4-row-2" style="display: flex; width: 90%; margin: auto auto; text-align: center; justify-content: space-between;">
        <div style="height: 112px; width: 48%; background-color: #0c3c60; padding: 30px 10%;">
          Our terms are very straightforward and easy to understand</div>
        <div style="height: 112px; width: 48%; background-color: #0c3c60; padding: 30px 4%;">
          We're a nationwide lender, catering to lessees in Utah and accross the lower 48 states</div>
        </div>
      </div>
  </div>
  <app-contact></app-contact>

</div>

