<div class="financing-page">
  <img
    class="financing-banner"
    src="../../assets/images/financing_banner.jpg"
    alt="financing-banner"
  />
  <div class="financing-section-2">
    <h1 class="financing-section-2-title"><b>Heavy Equipment Financing Simplified</b></h1>
    <p class="financing-section-2-paragraph">Paradigm Equipment Finance provides up-front, easy-to-use, easy-to-understand guidance for businesses seeking equipment financing. We serve businessed throughout the United States as an alternative lender, providing construction equipment financing to subprime borrowers who have solid business fundamentals and a comprehensive understanding of the assets they're pursuing.
    <br/>
    <br/>
    Below is a review of our equipment financing guidelines. Please keep in mind thatr Paradigm Equipment Finance is a collateral-based lenser, and that all decisions are based on our evaluation of the type and value of the equipment being leased.
    </p>
  </div>
  <div class="financing-section-3">
    <ul class="financing-section-3-list">
      <li style="padding-top: 20px;"><span><b>&#10003;</b></span> Application for lease</li>
      <li><span><b>&#10003;</b></span> Authorization to pull credit</li>
      <li><span><b>&#10003;</b></span> Minimum three months of bank statements</li>
      <li><span><b>&#10003;</b></span> Equipment list of pledged collateral</li>
      <li><span><b>&#10003;</b></span> Corporate and personal financial statements and tax returns for deals over $150,000</li>
    </ul>
    <img src="../../assets/images/financing-section-3-image.png"
      alt="image"
      class="financing-section-3-image"
    />
  </div>
  <div class="financing-section-4">
    <h1>Credit Guidelines</h1>
    <p>As an asset-based lender, we strive to accomodate lessees regardless of traditional creditworthiness metrics. Below is a matrix of guidelines to be used in determining pricing and collateral requirements.<br>
    <br>
    *Based on monthly lease payment. Approval will be subject to an analysis of a minimum of three monthly bank statements.
    </p>
    <table class="credit-table">
      <th>Tier</th>
      <th>Grade</th>
      <th>Credit</th>
      <th>Credit Ratio</th>
      <th>Deposit Requirement/Extra Equipment</th>
      <th>*Average Monthly Deposit Required</th>
      <th>*Average Ending Balance</th>
      <tr>
        <td>I</td>
        <td>A</td>
        <td>700+</td>
        <td>1:1:1</td>
        <td>10% Cash/1.25:1</td>
        <td>20x Pmt</td>
        <td>6x Pmt</td>
      </tr>
      <tr>
        <td>II</td>
        <td>B</td>
        <td>660-699</td>
        <td>1:2:1</td>
        <td>20% Cash/1.5:1</td>
        <td>15% Pmt</td>
        <td>4x Pmt</td>
      </tr>
      <tr>
        <td>III</td>
        <td>C</td>
        <td>620-659</td>
        <td>1:5:1</td>
        <td>33% Cash/1.75:1</td>
        <td>15x Pmt</td>
        <td>4x Pmt</td>
      </tr>
      <tr>
        <td>IV</td>
        <td>D</td>
        <td>580-619</td>
        <td>2:1</td>
        <td>50% Cash/2:1</td>
        <td>20x Pmt</td>
        <td>2x Pmt</td>
      </tr>

    </table>
  </div>

  <div class="financing-section-5">
    <h1>Equipment And Industries</h1>
    <p>Each individual piece of equipment requires a valuation in excess of $10,000. Paradigm Equipment Finance retains the right to make an exception based on a blanket UCC-1 lien on company's assets. The following is a list of preferred and restricted equipment and industries we deal in.</p>
    <div class="financing-section-5-lists">
      <ul style="list-style-type: none; margin-top: auto; margin-bottom: auto;">
        <li><span>&#10003;</span>Heavy Construction/Yellow Iron</li>
        <li><span>&#10003;</span>Titled Trucks & Trailers</li>
        <li><span>&#10003;</span>Heavy Industrial Equipment</li>
        <li><span>&#10003;</span>Mining (Surface Equipment)</li>
        <li><span>&#10003;</span>Manufacturing (Min. Value $10,000)</li>
        <li><span>&#10003;</span>Agriculture</li>
        <li><span>&#10003;</span>Medical</li>
      </ul>
      <ul style="list-style-type: none; margin-top: auto; margin-bottom: auto;">
        <li>&#x274c; Restaurant</li>
        <li>&#x274c; Technology/IT</li>
        <li>&#x274c; Leasehold Improvements</li>
        <li>&#x274c; Anything Related To CBD</li>
        <li>&#x274c; Equipment Valued under $10,000</li>
      </ul>
    </div>
  </div>

  <div class="financing-setion-6">
    <div class="financing-section-6-writing">
      <h1>Inspection And Valuation</h1>
      <p>
        After a proposal receives conditional approval and receipt of the initial deposit required, Paradigm Equipment Finance will move forward. As part of our due diligence, we complete a thorough evaluation of collateral and a site inspection of the business.<br>
        <br>
        Completed reports include pictures, notes, and values of the collateral item(s), as well as pertinent information regarding industry, condition, and resale values. The scope of an inspection will vary depending on the nature of the assets and collateral involved.
      </p>
    </div>
    <div class="financing-section-6-image">
      <img src="../../assets/images/homepage-section2-1.png"
        style="width: 40vw;"
      />
    </div>
  </div>

  <div class="financing-section-2">
    <h1 class="financing-section-2-title"><b>Secure The Assets Your Business Needs</b></h1>
    <p class="financing-section-2-paragraph">Looking for an asset-based lender who can help your business transcend traditional financing options to get the equipment you need? Let Paradigm Equipment Finance help you the way we’ve helped countless others. Contact us below for more information about our lending process or fill out a quick application here!
    </p>
    <button>Apply Now</button>
  </div>

  <app-contact></app-contact>

</div>
