@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";

button, .button {
  font-family: montserrat;
  font-weight: 700;
  color: white;
  border-radius: 10px;
}
