<div>
  <h1 class="contact-page-banner"><b>Meet The Team</b></h1>

  <div class="employee-card-row">
    <div class="employee-card">
      <img src="../../assets/employee_photos/Tyler.jpg" >
      <div class="employee-card-text">
        <div class="employee-card-text-1"><b>President/CEO</b></div>
        <div class="employee-card-text-2">Tyler Deters</div>
        <div class="employee-card-text-3">tyler@paradigmef.com</div>
      </div>
    </div>
    <div class="employee-card">
      <img src="../../assets/employee_photos/Brett.jpg" >
      <div class="employee-card-text">
        <div class="employee-card-text-1"><b>Chief Credit Officer</b></div>
        <div class="employee-card-text-2">Brett Barber</div>
        <div class="employee-card-text-3">bbarber@paradigmef.com</div>
      </div>
    </div>
  </div>

  <div class="employee-card-row">
    <div class="employee-card">
      <img src="../../assets/employee_photos/Jon.jpg" >
      <div class="employee-card-text">
        <div class="employee-card-text-1"><b>National Account Manager</b></div>
        <div class="employee-card-text-2">Jon Janke</div>
        <div class="employee-card-text-3">jon@paradigmef.com</div>
      </div>
    </div>
    <div class="employee-card">
      <img src="../../assets/employee_photos/Cortlan.jpg" >
      <div class="employee-card-text">
        <div class="employee-card-text-1"><b>National Account Manager</b></div>
        <div class="employee-card-text-2">Cortlan Brown</div>
        <div class="employee-card-text-3">cortlan@paradigmef.com</div>
      </div>
    </div>
  </div>

  <div class="employee-card-row">
    <div class="employee-card">
      <img src="../../assets/employee_photos/Robyn.jpg" >
      <div class="employee-card-text">
        <div class="employee-card-text-1"><b>Operations Manager</b></div>
        <div class="employee-card-text-2">Robyn Kent</div>
        <div class="employee-card-text-3">robyn@paradigmef.com</div>
      </div>
    </div>
    <div class="employee-card">
      <img src="../../assets/employee_photos/Carrie.jpg" >
      <div class="employee-card-text">
        <div class="employee-card-text-1"><b>Accounting Manager</b></div>
        <div class="employee-card-text-2">Carrie Baclayon</div>
        <div class="employee-card-text-3">carrie@paradigmef.com</div>
      </div>
    </div>
  </div>

  <div class="employee-card-row">
    <div class="employee-card">
      <img src="../../assets/employee_photos/Haley.jpg" >
      <div class="employee-card-text">
        <div class="employee-card-text-1"><b>Transaction Coordinator</b></div>
        <div class="employee-card-text-2">Haley Gordon</div>
        <div class="employee-card-text-3">haley@paradigmef.com</div>
      </div>
    </div>
  </div>

  <div class="contact-page-contact-form">
    <div class="contact-page-contact-form-text">
      <h1
        style="font-size: 28px; font-weight: bold;"
      >Contact Us Today About Asset-Based Lending</h1>
      <p>
        For construction companies, excavation firms, trucking and agricultural operations, heavy equipment is a major barrier for growth. Securing traditional lending to purchase much-needed assets is difficult, leaving many companies at the mercy of an inflated balance sheet. Paradigm Equipment Finance is here to help. We assist subprime and qualified borrowers by providing asset-based lending with up-front terms and clear collateral expectations. We help you get the equipment you need, so you can grow your business responsibly. Contact us today through the form below for more information or to consult with one of our expert team members.
      </p>
    </div>
  <div class="contact-page-contact-form-form">
    <app-contact></app-contact>
  </div>

</div>
