* {
  font-family: montserrat;
}

.contact-page-banner {
  text-align: center;
  font-size: 50px;
  letter-spacing: 4px;
  color: #0c3c60;
  padding: 50px 0;
}

.employee-card-row {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 15px;
}

.employee-card {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  height: 192px;
  width: 528px;
  background: rgb(224, 223, 223);
  margin: 20px;
}

.employee-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 334px;
  height: 120px;
  border: 1px black solid;
  margin-top: auto;
  margin-bottom: auto;
}

.employee-card-text-1 {
  font-size: 22px;
  padding-left: 10px;
  color: #0c3c60;
  text-decoration: underline;
}

.employee-card-text-2 {
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.employee-card-text-3 {
  font-size: 18px;
  padding-left: 10px;
  text-decoration: underline;
}

img {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  height: 150px;
  width: 133px;
}

.contact-page-contact-form {
  background-color: #beecb2;
  display: flex;
  width: 100vw;
}

.contact-page-contact-form-text {
  width: 50%;
  line-height: 30px;
}

.contact-page-contact-form-form {
  width: 50%;
}
